A set in general is a collection of distinct objects. This applies in Python too, where a set is a data type that contains a finite collection of distinct objects. The data types of the objects need not be homogenous, but duplicates of a value are removed, even if they present in different variables. Also, a set is mutable, but elements can only be removed, not appended or inserted.

# Properties

In [13]:
mySet = {1, 3.5, "Jackal"}
mySet

{1, 3.5, 'Jackal'}

## No duplicates

In [5]:
mySet = {1, 2, 3, 3, 3, 6, 7, 8, 8}
mySet

{1, 2, 3, 6, 7, 8}

In [6]:
a = 2
b = 2
mySet = {a, b}
mySet

{2}

## Mutable

Since a set is unordered, the elements of a set cannot be indexed, hence we cannot access and change individual elements of a set. However, a set is mutable, so we can add elements and remove elements from a set, either particular values or the last value. Here, we only discuss functions that actually change the original set, by adding or removing elements. Set operations do not necessarily add or remove elements from the original set, and may instead return a new separate set (we will discuss the updating versions of each set operation too).

### Removing elements from a set

In [4]:
mySet = {1, 2, 3, 4, 5, 6}
# To simply remove an element
print("Simply removing an element...")
mySet.remove(1)
print(mySet)
# To remove and return the last element of a set
print("Popping an element...")
print("Popped value:", mySet.pop())
print(mySet)
# Emptying the set completely
print("Emptying a set completely...")
mySet.clear()
print(mySet)

Simply removing an element...
{2, 3, 4, 5, 6}
Popping an element...
Popped value: 2
{3, 4, 5, 6}
Emptying a set completely...
set()

Note that mySet.discard(x) will achieve the same thing as mySet.remove(x).

### Adding elements

In [ ]:
a = {"a", "b", "c", "d"}

In [17]:
a = {"a", "b", "c", "d"}
a.add(3)
a

{3, 'a', 'b', 'c', 'd'}

Note that this function changes the original set. Also, you cannot use this to combine two sets.

In [14]:
a = {"a", "b", "c", "d"}
b = {1, 2, 3, 4}
a.add(b)

TypeError: unhashable type: 'set'

### Adding sets

In [1]:
a = {"a", "b", "c", "d"}
b = {1, 2, 3, 4}
a.update(b)
a

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

The argument of the update function can be any mutable collection data type. Hence, a tuple, if passed, will not have its elements considered and stored into the set. If you pass a dictionary, only the keys will be considered and stored.

In [10]:
a = {"w", "x", "y", "z"}
b = [5, 6, 7, 8]
d = (10, 11, 12, 13)
d = {1 : "alpha", 2 : "beta"}
a.update(b)
a.update(c)
a.update(d)
a

{1, 2, 5, 6, 7, 8, 'w', 'x', 'y', 'z'}

In [19]:
# To demonstrate removal of duplicates yet again...
a = {"a", "b", "c", "d"}
b = {"a", "b", 1, 2, 3, 4}
a.update(b)
a

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

Note that this function changes the original set. Also, you cannot use this to add a single non-set element. This is the job of the add function.

## No unhashable objects as elements

A hashable object is an object whose hash value does not change during its lifetime. A hash value is a numeric value of a fixed length that uniquely identifies data. In general, mutable containers such as lists and dictionaries are not hashable.
<br><br>
Hash values represent large amounts of data as much smaller numeric values, by mapping large range of values (all possible instances of an class or data type) and map them onto a smaller set of values (such as a 128 bit number).

In [22]:
mySet = {1, 3.5, [1, 2, 3]}
mySet

TypeError: unhashable type: 'list'

In [23]:
mySet = {1, 3.5, ("a", "b", 5)}
mySet

{('a', 'b', 5), 1, 3.5}

In [24]:
mySet = {1, 3.5, {"Hello", 5, 6}}
mySet

TypeError: unhashable type: 'set'

As we see above, out of list, tuple and set, only tuple objects are hashable, hence out of these three, only tuple objects an be single elements in a set. My best explanation is as follows...
<br><br>
A tuple, once initialised, is of a fixed length, which means it is possible to map every variation of a tuple into a numeric value of fixed length. However, a list is not of fixed length, and hence, it is not possible or practical to map every possible every possible variation of a list into a numeric value of a fixed length. Even a set is not of fixed length, since you can add new elements and remove existing elements from a set.

## Unordered

In [7]:
# Initalising a set
mySet = {1, "Pranav", 2, 3,"Cat", 4.5, "Hello", 34}
mySet

{1, 2, 3, 34, 4.5, 'Cat', 'Hello', 'Pranav'}

You can see above that a set is completely unordered, meaning that you cannot access a set's elements though indices, as you can in lists or tuples.

### Non-subscriptable (cannot index a set)

As a consequence of a set being completely unordered, we cannot use indices to access elements of a set.

In [27]:
mySet = {1, 2, 3, 4}
mySet[2]

TypeError: 'set' object is not subscriptable

# Invalid operations

In [34]:
a = {1, 2, 3, 4}
b = {"a", "b", "c", "d"}

In [32]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
2 * a

TypeError: unsupported operand type(s) for *: 'int' and 'set'

# Checking for an element in a set

In [46]:
mySet = {1, "Pranav", 2, 3,"Cat", 4.5, "Hello", 34}
print("My set:", mySet)
print("Is 4 in this set? ", 4 in mySet)
print("Is 'Hello' in this set? ", "Hello" in mySet)

My set: {1, 2, 3, 4.5, 34, 'Hello', 'Cat', 'Pranav'}
Is 4 in this set?  False
Is 'Hello' in this set?  True

# Iterating through a set

In [65]:
mySet = {1, "Pranav", 2, 3,"Cat", 4.5, "Hello", 34}
print("My set:", mySet)
for i in mySet:
    print(i)

My set: {1, 2, 3, 4.5, 34, 'Hello', 'Cat', 'Pranav'}
1
2
3
4.5
34
Hello
Cat
Pranav

# Set operations

Note: in the function a.function(b), we term 'a' as the original set.

## Union

In [37]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
print(a.union(b))
print(a)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 7}

The above function does not change the original set. To change the original set to the union's result directly, we can use update function, with the same syntax.

## Intersection

In [29]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.intersection(b)

{3, 4, 7}

The above function does not change the original set. To change the original set to the intersection's result directly, we can use the intersection_update function, with the same syntax.

The following operation is equivalent to the intersection function (no updation of any set).

In [ ]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a&b

## Set difference

In [28]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.difference(b)

{1, 2}

This function only returns the values in the set 'a' that differ from the values in set 'b'.

The above function does not change the original set. To change the original set to the difference's result directly, we can use difference_update function, with the same syntax.

## Symmetric difference

In [1]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.symmetric_difference(b)

{1, 2, 5, 6}

This function returns all the values, in both sets 'a' and 'b', that are not common. It is equivalent to
<br>
a.difference(b).union(b.difference(a))

The above function does not change the original set. To change the original set to the symmetric difference's result directly, we can use symmetric_difference_update function, with the same syntax.